NODE_ENV="{{ project.node_env }}"
API_PORT="{{ project.backend.port }}"

API_URL="{{ project.backend.url }}"
FRONTEND_URL="{{ project.frontend_url }}"

DB_USER="{{ project.backend.db.user }}"
DB_PASSWORD="{{ project.backend.db.password }}"
DB_NAME="{{ project.backend.db.name }}"
DB_PORT="{{ project.backend.db.port }}"
DB_HOST="{{ project.backend.db.host }}"
DATABASE_URL="postgresql://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}?schema=public"

REDIS_SESSION_HOST="{{ project.backend.redis_session.host }}"
REDIS_SESSION_PORT="{{ project.backend.redis_session.port }}"
REDIS_SESSION_PASS="{{ project.backend.redis_session.password }}"
REDIS_SESSION_TTL="{{ project.backend.redis_session.ttl }}"

SESSION_SECRET="{{ project.backend.session_secret }}"

TRANSLATE_APP_HOST="{{ project.backend.libretranslate.host }}"
TRANSLATE_APP_PORT="{{ project.backend.libretranslate.port }}"
TRANSLATE_APP_LOAD_ONLY="{{ project.backend.libretranslate.loadonly }}"
TRANSLATE_APP_UPDATE_MODELS="{{ project.backend.libretranslate.update_models }}"
TRANSLATE_APP_DISABLE_WEB_UI="{{ project.backend.libretranslate.disable_web_ui }}"
