{
    "trailingComma": "es5",
    "tabWidth": 4,
    "printWidth": 80,
    "semi": false,
    "singleQuote": false,
    "arrowParens": "avoid",
    "plugins": ["prettier-plugin-tailwindcss"],
    "tailwindConfig": "./tailwind.config.js"
}
